<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>오늘의 꽃</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=yes">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

  <!-- custom styles for this template -->
  <link href="/css/jumbotron-narrow.css" rel="stylesheet">
</head>
<body class="p-2 text-dark bg-opacity-10">
<div class="container">

  <header>
    <nav class="navbar navbar-expand-lg navbar-light bg-success bg-opacity-25">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">&#128197; <b>오늘의 꽃</b> &#127801;</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
                aria-expanded="false" aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" href="/todayFlowerByDate">&#127856; 생일로 찾기</a>
            <a class="nav-link" href="/todayFlowerByFlowerLang">&#128014; 꽃말로 찾기</a>
            <a class="nav-link" href="/todayFlowerByFlowerName">&#128219; 이름으로 찾기</a>
          </div>
        </div>
      </div>
    </nav>
  </header>

  <div class="marketing">
    <div class="jumbotron">
      <h1 style="margin-top: 30px;">&#128014; 꽃말로 찾기</h1>
      <form role="form">
        <div class="container">
          <p>
          <div class="input-group mb-3">
            <span class="input-group-text" id="inputGroup-sizing-default">당신이 알고 있는 꽃말:</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default"
                   th:field="*{form.lang}">
          </div>
          </p>
          <div class="d-grid gap-5">
            <button type="submit" class="btn btn-lg btn-success">검 색</button>
          </div>

          <div>
            <table class="table table-striped">
              <thead>
              <tr style="text-align: center">
                <th>번호</th>
                <th>사진</th>
                <th>이름</th>
                <th>꽃말</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="byLang : ${todayFlowerByFlowerLang}">
                <td th:text="${byLang.getDataNo()}"></td>
                <td style="text-align: center">
                  <a th:href="'/todayFlowerByDate?month=' + ${byLang.getMonth()} + '&day='+${byLang.getDay()}">
                    <img th:src="${byLang.getImgUrl1()}" style="width: 75%;" data-bs-toggle="tooltip" data-bs-placement="left" title="자세히 알아보기">
                  </a>
                </td>
                <td th:text="${byLang.getName()}"></td>
                <td th:text="${byLang.getLang()}"></td>
              </tr>

              </tbody>
            </table>
          </div>
        </div>
        <!-- pagination2 -->
        <nav style="text-align: center;">
          <ul class="pagination  justify-content-center"
              th:with="start=${T(java.lang.Math).floor(todayFlowerByFlowerLang.number/5)*5 + 1},
                    last=(${start + 4 < todayFlowerByFlowerLang.totalPages ? start + 4 : todayFlowerByFlowerLang.totalPages})">
            <!-- 첫페이지 -->
            <li class="page-item">
              <a th:href="@{/todayFlowerByFlowerLang(lang=${form.lang}, page=1)}" aria-label="First" class="page-link">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <!-- 이전 페이지 -->
            <li th:classappend="${todayFlowerByFlowerLang.first} ? 'disabled'" class="page-item">
              <a th:href="${todayFlowerByFlowerLang.first} ? '#' :@{/todayFlowerByFlowerLang(lang=${form.lang}, page=${todayFlowerByFlowerLang.number})}" aria-label="Previous" class="page-link">
                <span aria-hidden="true">&lt;</span>
              </a>
            </li>
          <!-- 페이지 목록 -->
            <li th:each="page: ${#numbers.sequence(start, last)}" th:classappend="${page == todayFlowerByFlowerLang.number + 1} ? 'active'" class="page-item">
              <a th:text="${page}" th:href="@{/todayFlowerByFlowerLang(lang=${form.lang}, page=${page})}" class="page-link"></a>
            </li>
            <!-- 다음 페이지 -->
            <li th:classappend="${todayFlowerByFlowerLang.last} ? 'disabled'" class="page-item">
              <a th:href="${todayFlowerByFlowerLang.last} ? '#' : @{/todayFlowerByFlowerLang(lang=${form.lang}, page=${todayFlowerByFlowerLang.number + 2})}" aria-label="Next" class="page-link">
                <span aria-hidden="true">&gt;</span>
              </a>
            </li>
            <!-- 마지막 페이지-->
            <li class="page-item">
              <a th:href="@{/todayFlowerByFlowerLang(lang=${form.lang}, page=${todayFlowerByFlowerLang.totalPages})}" aria-label="Last" class="page-link">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
        <!-- pagination2 -->
      </form>
    </div>
  </div>
</div>

</body>
</html>