<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>오늘의 꽃</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=yes">
</head>
<body>

<h1>당신을 위한 오늘의 꽃</h1>
    <form role="form" action="/todayFlower" th:object="${dateForm}" method="post">
        <label th:for="month"> 월 </label>
        <input type="text" th:field="*{month}" placeholder="검색어를 입력해주세요.">
        <label th:for="day"> 일 </label>
        <input type="text" th:field="*{day}" placeholder="검색어를 입력해주세요.">
        <button type="submit">Submit</button>
    <p th:each="todayFlower : ${todayFlower}">
        <p th:text="'꽃 이름: '+${todayFlower.getName()}"></p>
        <p th:text="'꽃말: '+${todayFlower.getLang()}"></p>
        <div style="text-align: center">
            <img id="imgId1" style="text-align: center" th:src="${todayFlower.getImgUrl1()}" th:alt="${todayFlower.getFileName1()}" th:if="${todayFlower.getImgUrl1() != null}" />
            <img id="imgId2" style="text-align: center" th:src="${todayFlower.getImgUrl2()}" th:alt="${todayFlower.getFileName2()}" th:if="${todayFlower.getImgUrl2() != null}" />
            <img id="imgId3" style="text-align: center" th:src="${todayFlower.getImgUrl3()}" th:alt="${todayFlower.getFileName3()}" th:if="${todayFlower.getImgUrl3() != null}" />
        </div>
        <p th:text="'설명: '+${todayFlower.getContent()}"></p>
        <p th:text="'자생지: '+${todayFlower.getNativePlace()}"></p>
        <p th:text="'키우는 법: '+${todayFlower.getGrow()}"></p>
        <p style="text-align: right" th:text="'출처: '+${todayFlower.getPublishOrg()}"></p>
    </p>
    </form>
</body>
</html>